system/system/apex/com.android.vndk.current.apex
system/system/app/MiuiVideoPlayer/MiuiVideoPlayer.apk
system/system/priv-app/MiBrowserGlobal/MiBrowserGlobal.apk
system_ext/priv-app/Settings/Settings.apk
bootimg/13_dtbdump_R`PZE|.dtb
boot.img
product/priv-app/Velvet/Velvet.apk
